{% extends "base.html" %}

{% block content %}
  <h1>Settings</h1>
  <ul class="settings-list">
    <li><a href="{% url 'registration:update' pk=user.pk %}" class="btn btn-warning settings-list-item">Update data</a></li>
    <li><a href="{% url 'registration:password_change' %}" class="btn btn-warning settings-list-item">Change password</a></li>
    <li><a href="{% url 'registration:delete' pk=user.pk %}" class="btn btn-danger settings-list-item">Delete account</a></li>
  </ul>
{% endblock %}
