html {
    align-content: center;
}

body {
    background-image: url("/static/images/background.jpg");
    align-content: center;
    align-items: center;
}

.content {
    padding-top: 15px;
}

