body {
    background-image: url("/static/images/background.jpg");
}

footer {
    position: fixed;
    bottom: 20px;
    margin-left: 40%;
    max-width: 20%;
}

.center {
    margin: auto;
    max-width: 50%;
}

.content {
    padding-top: 25px;
}

.main-div {
    padding-top: 50px;
}