{% if user.is_authenticated %}
  <h5>User: {{ user.username }} <a href="{% url 'registration:logout' %}">Logout</a></h5>
  <br>
  <ul class="sidebar-nav list-group">
    <li class="list-group-item"><a href="{% url 'todo:index' %}">Home</a></li>
    <li class="list-group-item"><a href="{% url 'todo:task-list' %}">Tasks</a></li>
    <li class="list-group-item"><a href="{% url 'todo:tag-list' %}">Tags</a></li>
    <li class="list-group-item"><a href="{% url 'registration:settings' %}">Settings</a></li>
  </ul>
{% else %}
  <li><a href="{% url 'registration:login' %}">Login</a></li>
  <li><a href="{% url 'registration:register' %}">Register</a></li>
{% endif %}

