{% extends "base.html" %}
{% load static %}


{% block content %}
  <h1>About project</h1>

  <br>

  <p><strong>This project create to help people manage their tasks</strong></p>
  <p><strong><a href="https://github.com/pazyn404/todo-list-project">Project GitHub repository</a></strong></p>
  <br>

  <p>
    <strong>
      Check also my accounts:
      <a href="https://github.com/pazyn404"><img src="{% static 'images/github.png' %}"></a>
      <a href="https://www.linkedin.com/in/yurii-pazyn-4a99bb255/"><img src="{% static 'images/linkedin.png' %}"></a>
    </strong>
  </p>

{% endblock %}