{% extends "base.html" %}


{% block content %}
  <h1>{{ object|yesno:"Update,Create" }} tag</h1>

  <form method="post" action="">
    {% csrf_token %}

    <div class="item-container">
      <label class="label">Name</label>
      <input type="text" name="name" value="{{ form.fields.name.value }}" class="text">
      <span class="validation-error">{{ form.errors.name }}</span>
    </div>

    <input type="submit" value="{{ object|yesno:"Update,Create" }}" class="btn btn-success">
  </form>
{% endblock %}
