{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Tag List
    <a href="{% url 'todo:tag-create' %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-primary">Add tag</a>
  </h1>
  <br>
  <form action="" method="get" class="form-inline">
    {{ search_form | crispy }}
    <input type="submit" value="🚀" class="btn">
  </form>
  <br>
  {% if tag_list %}
    <table class="table">
    <tr>
      <th>Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for tag in tag_list %}
      <tr>
        <td><a href = "{% url 'todo:tag-detail' pk=tag.pk %}">{{ tag.name }}</a></td>
        <td><a href="{% url 'todo:tag-update' pk=tag.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-warning">Update</a></td>
        <td><a href="{% url 'todo:tag-delete' pk=tag.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}&count={{ page_obj.paginator.count }}&per_page={{ page_obj.paginator.per_page }}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No tags, add new one!</p>
  {% endif %}

{% endblock %}
