{% extends "base.html" %}


{% block content %}
  <h1>
    TODO List
    <a href="{% url 'todo:task-create' %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-primary">Add task</a>
  </h1>
  <br>
  <form action="" method="get" class="form-inline">
    <input type="text" name="name" value="{{ search_form.fields.name.value }}" placeholder="Search by name" class="text">
    <input type="submit" value="🚀" class="btn btn-primary btn-sm btn-search">
  </form>
  <br>

  {% if task_list %}

    <ul class="list-group">
      {% for task in task_list %}
          <li class="list-group-item task-list-item">

            <p>
              <a href="{% url 'todo:task-detail' pk=task.pk %}"><strong>{{ task.name }}</strong></a>

              {% if task.status %}
                <a href="{% url 'todo:task-change-status' pk=task.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-sm btn-success">{{ task.status_display_name }}</a>
              {% else %}
                <a href="{% url 'todo:task-change-status' pk=task.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-sm btn-secondary">{{ task.status_display_name }}</a>
              {% endif %}

              {% if task.pinned %}
                <a href="{% url 'todo:task-switch-pinned' pk=task.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-sm btn-secondary">Unpin</a>
              {% else %}
                <a href="{% url 'todo:task-switch-pinned' pk=task.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-sm btn-secondary">Pin</a>
              {% endif %}
              <a href="{% url 'todo:task-update' pk=task.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}" class="btn btn-sm btn-warning">Update</a>
              <a href="{% url 'todo:task-delete' pk=task.pk %}?name={{ request.GET.name }}&page={{ page_obj.number }}&count={{ page_obj.paginator.count }}&per_page={{ page_obj.paginator.per_page }}" class="btn btn-sm btn-danger">Delete</a>
            </p>

            <p>
              <strong>Priority:</strong> {{ task.priority_display_name }}

              {% if not task.status and task.deadline_expired %}
                <strong class="expired_deadline">Expired deadline: </strong>{{ task.deadline }}
              {% endif %}
            </p>

          </li>
      {% endfor %}
    </ul>

  {% else %}
    <p><strong>No tasks, add new one!</strong></p>
  {% endif %}

{% endblock %}
